/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f8f9fa;
    color: #333;
}

a[href^="tel"] {
    color: inherit; /* Inherit text color of parent element. */
    text-decoration: none; /* Remove underline. */
}

/* Navbar Styles */
.navbar-custom {
    background-color: #00008b;
}

.navbar-brand, .nav-link {
    color: #fff !important;
}

.nav-link:hover {
    color: #d4d4d4 !important;
}

/* Navbar Toggler Styles */
.navbar-toggler {
    border-color: rgba(255, 255, 255, 0.1);
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/* Banner Styles */
.banner {
    background-color: #007bff;
    color: #fff;
    padding: 5px 0 0px; /* Add padding to the top to create space for the profile photo */
    text-align: center;
    position: relative;
    height: 60vh; /* Make the banner fill the screen height */
    min-height: 460px;
}

.banner-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 100%;
    width: 100%;
    padding: 0 20px;
}

.profile-photo {
    border-radius: 0%;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    margin-right: 10px;
    position: relative;    
    bottom: 0; /* Make the profile photo touch the bottom of the div */
    object-fit: cover; /* Ensure the image covers the entire area */
}

.video-container {
    flex: 1;
    display: flex;
    flex-direction: column; /* Arrange items in a column */
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 100%; /* Ensure the video container does not exceed the width of its parent */
    max-height: 100%; /* Ensure the video container does not exceed the height of its parent */
    overflow: hidden; /* Hide any overflowing content */
}

.video-container p {
    margin-bottom: 10px; /* Add some space between the paragraph and the video */
    text-align: center; /* Center align the text */
}

.simulation-photos {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
    width: 40%; /* Adjust width to make space for the about me section */
    overflow: hidden;
    position: relative;
}

.simulation-photo {
    display: none;
    object-fit: cover; /* Ensure the images cover the entire area */
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.simulation-photo:first-child {
    display: block;
}

.about-me {
    width: 30%; /* Adjust width to fit the content */
    max-width: 100%; /* Ensure the about-me section does not exceed the width of its parent */
    text-align: left;
    padding-left: 20px;
    word-wrap: break-word; /* Ensure long words break and wrap to the next line */
    word-break: break-word; /* Break long words to prevent overflow */
    overflow-wrap: break-word; /* Ensure long words break and wrap to the next line */
    overflow: hidden; /* Hide any overflowing content */
    font-size: 1em; /* Default font size */
}

/* Section Styles */
h2 {
    color: #007bff;
    margin-bottom: 20px;
}

.container {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#about, #research, #contact {
    margin-bottom: 40px;
}

#team {
    text-align: center;
}

.team-member {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.team-photo {
    width: 100%;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
}

.team-member h4 {
    margin-bottom: 10px;
    color: #007bff;
}

.team-member p {
    color: #333;
}

/* Footer Styles */
footer {
    background-color: #007bff;
    color: #fff;
    padding: 10px 0;
}

footer p {
    margin: 0;
}

/* Responsive Styles */
@media (max-width: 1200px) {
    .profile-photo {
        max-width: 400px; /* Decrease the size */
        max-height: 400px; /* Decrease the size */        
    }
}

@media (max-width: 1000px) {
    .profile-photo {
        max-width: 350px; /* Decrease the size */
        max-height: 350px; /* Decrease the size */    
    }
}

@media (max-width: 850px) {
    .container {
        padding: 20px;
    }

    h2 {
        font-size: 1.5rem;
    }

    .profile-photo {
        border-radius: 50%;
        max-width: 250px; /* Adjust the size for smaller screens */
        max-height: 250px; /* Adjust the size for smaller screens */
        left: 5%;
        padding-bottom: 1%;
        align-self: center; /* Align the profile photo to the center of the container */    
    }

    .banner-content {
        flex-direction: column;
    }

    .simulation-photos, .about-me {
        width: 100%;
        text-align: center;
    }

    .banner {
        height: auto;
    }
    
    .simulation-photos {
        height: 20vh;
    }

    .about-me {
        padding-left: 0;
        padding-top: 15px;
        padding-bottom: 15px;
        font-size: 0.9em; /* Adjust font size for smaller screens */
    }

    .team-photo {
        width: 150px;
        height: 150px;
    }
}